html {
   scroll-behavior: smooth;
}
body {
   background-color: #000;
   font-family: "Inter", sans-serif;
   /* cursor: none; */
}
a {
   cursor: none;
}
/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
   width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
   background: #f0f0f0; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
   background-color: #888; /* Color of the scrollbar thumb */
   border-radius: 6px; /* Rounded edges of the thumb */
   border: 3px solid #f0f0f0; /* Space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
   background-color: #555; /* Darker thumb on hover */
}

.cursor-shadow {
   position: absolute;
   width: 50px;
   height: 50px;
   background: rgba(81, 45, 45, 0.2);
   border-radius: 50%;
   pointer-events: none;
   transform: translate(-50%, -50%);
   animation: fadeOut 1s forwards;
   z-index: 5;
}

@keyframes fadeOut {
   0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
   }
   100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(2);
   }
}

.container {
   width: 90%;
   margin: auto;
}

/* menu */
#menu {
   position: absolute;
   width: 100%;
   z-index: 1000;
}
#menu .container {
   width: 96%;
}
.menu {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   align-items: center;
   margin-top: 0.5%;
}
.menu .navbar {
   display: flex;
   flex-direction: row;
   gap: 1.5%;
   align-items: center;
}
.menu .navbar a {
   color: #1d1d1d;
   text-decoration: none;
   width: 145px;
   font-size: 18px;
   font-weight: 200;
   transition: 0.3s;
   text-align: center;
   z-index: 1002;
   /* border: 1px solid red; */
}
.menu .navbar a:hover {
   color: #e9e9e9;
   background-color: #000;
   padding: 8px 0;
   border-radius: 15px;
}
#white {
   color: #e9e9e9;
}
#white:hover {
   color: #1d1d1d;
   background-color: #e9e9e9;
   padding: 8px 0;
}

/* About */
#about {
   width: 100%;
}
.about {
   display: flex;
   height: 100vh;
}
.about .welcome {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 50%;
   align-items: flex-start;
   justify-content: center;
   text-align: left;
}
.about .welcome #cta {
   font-weight: 200;
   font-family: "Inter", sans-serif;
   color: #1d1d1d;
   background-color: #e9e9e9;
   border-radius: 50px;
   padding: 16px 20px;
   text-decoration: none;
   display: flex;
   align-items: center;
   margin: 0;
   transition: 0.3s;
   z-index: 6;
}
.about .welcome #cta:hover {
   background-color: #e1b500;
   transform: scale(1.05);
}
.about .welcome h1 {
   color: #fff;
   font-weight: 400;
   font-size: 32px;
   font-family: "Inter", sans-serif;
   z-index: 6;
}
.white-bg {
   background-color: #fff;
   height: 100%;
   position: absolute;
   width: 40%;
   float: right;
   top: 0;
   right: 0;
   z-index: -1;
   border-radius: 50px 0 0 50px;
   z-index: 5;
}
#arrow-down {
   position: absolute;
   float: left;
   bottom: 0;
   left: 0;
   z-index: 1;
   border: 2px solid #e9e9e9;
   border-radius: 35px;
   padding: 20px;
   transition: 0.3s;
   margin-bottom: 3%;
}
#arrow-down:hover {
   transform: scale(1.05);
   cursor: pointer;
}

/* stats */
#counters {
   margin-top: 6%;
   height: 70vh;
}
#title {
   border: 1px solid #e9e9e9;
   padding: 5px 20px 7px;
   width: fit-content;
   margin: auto;
   border-radius: 20px;
   color: #e9e9e9;
   font-size: 18px;
   font-weight: 200;
}
#counters .container {
   position: relative;
}
.counters {
   display: flex;
   flex-direction: row;
   gap: 5%;
   width: 100%;
   justify-content: space-around;
   margin-top: 4%;
}
.counters .item {
   display: flex;
   flex-direction: column;
}
.two {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
   justify-content: start;
}
.counters .item img {
   width: 100px;
}
.counters .item #stat {
   color: #e9e9e9;
   font-size: 70px;
   font-weight: 400;
   margin: 0;
}
.counters .item #stat-text {
   color: #e9e9e9;
   font-size: 26px;
   font-weight: 300;
   padding-left: 10px;
}
#counters .container #arrow-top {
   position: absolute;
   top: 0;
   right: 0;
   z-index: 1;
   border: 2px solid #e9e9e9;
   border-radius: 35px;
   padding: 20px;
   transition: 0.3s;
}
#counters .container #arrow-top img {
   transform: scaleY(-1);
}
#arrow-top:hover {
   transform: scale(1.05);
   cursor: pointer;
}
#about-us {
   margin: 10% auto;
   color: #e9e9e9;
   width: 60%;
   text-align: center;
   font-weight: 400;
   font-size: 28px;
}
